<%
=begin%>
 <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Number of flavors required:</strong>
  <%= @product.required_num %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_with_precision(@product.price, precision: 2) %>
</p>

<%= link_to 'Back', root_path %> 
<%
=end%>

<body >
  <div id="cart">
    <%=render 'carts/cart' %>
  </div>
  <br>
  <div class = "grid-3-columns">
    <div class = "center">
        <div class="item-show-title"><%= @product.title %></div><br>
        <%= image_tag(@product.image, size: '200x180', style: 'transform: translate(-50px);')%><br>
    </div>
    <div class = "center">
        <div class = "item-show-description"><%= @product.description %></div><br>
        <div class = "item-show-title">$<%= number_with_precision(@product.price, precision: 2)%></div><br>
    <%= form_for @order_item, remote: true do |f| %> 
      <%=f.label "Order Note", class: "item-show-description" %>
      <%=f.text_area :note, style: "width:150%;transform: translate(-25px);"%>
      <br>
      <div class = "notice">*Use the Order Note box to list flavors wanted if applicable</div>
      <br>
      <%=f.hidden_field :product_id, :value => @product.id%>
      <%=f.number_field :quantity, :value => 1, :min => 1, style: 'width: 35%; display:inline;' %>
      <%=f.submit "Add to Cart", class: 'btn custom-btn', style: 'font-family: Georgia, serif; display:inline;'%>
    <%end %>
    </div>
  </div>
</body>