<%
=begin%>
 <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Number of flavors required:</strong>
  <%= @product.required_num %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_with_precision(@product.price, precision: 2) %>
</p>

<%= link_to 'Back', root_path %> 
<%
=end%>

<body >
  <div id="cart">
    <%=render 'carts/cart' %>
  </div>
  <div class = "grid-3-columns">
    <div class = "center">
        <div class="item-show-title"><%= @product.title %></div><br>
        <%= image_tag(@product.image, style:'height:150%; width:200%;')%><br>
    </div>
    <div class = "center">
        <div class = "item-show-description"><%= @product.description %></div><br>
        <div class = "item-show-title">$<%= number_with_precision(@product.price, precision: 2)%></div><br>
    <%= form_for @order_item, remote: true do |f| %> 
      <%=f.label "Order Note", class: "item-show-description" %>
      <%=f.text_area :note, size: "30x5" %>
      <br>
      *Use the Order Note box to list flavors wanted if applicable
      <br>
      <%=f.hidden_field :product_id, :value => @product.id%>
      <%=f.number_field :quantity, :value => 1, :min => 1, style: 'width: 20%; display:inline;' %>
      <%=f.submit "Add to Cart", class: 'btn btn-secondary', style: 'font-family: Georgia, serif; display:inline;'%>
    <%end %>
    </div>
  </div>
</body>