<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="screen">
    .title {
        font-size: 1.5em;
        font-family: "Times New Roman", Times, serif;
    }

    .order_items {
        font-size: 1.5em;
        font-family: "Times New Roman", Times, serif;
        border: 5px dotted red;
    }

    .e_total {
        font-size: 2em;
        font-family: "Times New Roman", Times, serif;
        color:rgb(255, 0, 0);
    }

    .border {
        border: 5px dotted red
    }
    </style>
    <title>Document</title>
</head>
<body class = "border">

    <div class = "title"><h1>Your order from Neesh'z Treat'z & Eat'z</h1></div>
    <br>
    <div class = "title"><h1>***************************************</h1></div>
    <h2>Order Details</h2>
    <h3><%=@name %></h3>
    <br>
    <%if @address != "NA" %>
        <h3>Delivery Address: <%=@address %></h3>
        <br>
        <h3>Delivery Date: <%=@date %></h3>
    <%else %>
        <h3>Pick-Up Address: <%=ENV['pick_up'] %></h3>
        <br>
        <h3>Pick-Up Date: <%=@date %></h3>
    <%end %>
    
    <% @order.each do |item| %>
        <div class = "order_items">       
            <%=item.product.title %>: $<%=number_with_precision(item.product.price, precision: 2) %> Quantity: <%= (item.total/item.product.price)%>
            <br>
            Subtotal: $<%=number_with_precision(item.total, precision: 2)%>
            <br>
            Order Note: <%=item.note %>      
        </div>
    <%end %>
    <div class = "e_total"><h1>Order Total: $<%=number_with_precision(@order_total, precision: 2) %></h1></div>
    <br>
</body>
</html>